body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
        position: relative;
    min-height: 100vh;

}
.body1{
    position: relative;
    min-height: 100vh;
    background-image :url(study.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}
.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

select {
    width: 100%;
}
